name: flutter_base
description: A Flutter base project.

publish_to: 'none'
version: 1.0.3+11

environment:
  sdk: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.18.0

  # networking
  retrofit: any
  logger: any
  json_serializable: any
  json_annotation: any

  # di
  injectable: any
  get_it: any

  # bloc
  flutter_bloc: any

  # local db
  floor: any

  # firebase
  firebase_core: ^2.14.0
  firebase_analytics: ^10.4.3
  firebase_messaging: ^14.6.4
  cloud_firestore: ^4.8.2

  # others
  rxdart: ^0.27.7
  rive: ^0.11.4
  shared_preferences: ^2.2.0
  pull_to_refresh: ^2.0.0
  copy_with_extension: any
  flutter_alice:
    git:
      url: https://github.com/hautvfami/flutter-alice.git
      ref: main
  overlay_support: ^2.1.0
  flutter_local_notifications: ^15.0.0
  flutter_secure_storage: ^8.0.0
  qr_flutter: ^4.1.0
  flutter_inapp_purchase: ^5.4.2

dev_dependencies:
  # test
  flutter_test:
    sdk: flutter
  test: any
  mockito: any
  bloc_test: any

  # generator
  retrofit_generator: any
  build_runner: any
  injectable_generator: any
  floor_generator: any
  copy_with_extension_gen: any
  intl_utils: ^2.8.3
  flutter_flavorizr:
    git:
      url: https://github.com/tungtd95/flutter_flavorizr.git
      ref: v2.2.1

flutter_intl:
  enabled: true
  class_name: Strings
  main_locale: en
  arb_dir: lib/l10n
  output_dir: lib/l10n

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/anim/

flavorizr:
  app:
    android:
      flavorDimensions: "app"
    ios:

  flavors:
    dev:
      app:
        name: "Weather Dev"

      android:
        applicationId: "com.sekiroflutter.weather_dev"
        firebase:
          config: ".firebase/dev/google-services.json"

      ios:
        bundleId: "com.sekiroflutter.dev"
        firebase:
          config: ".firebase/dev/GoogleService-Info.plist"

    prod:
      app:
        name: "Weather"

      android:
        applicationId: "com.sekiroflutter.weather"
        firebase:
          config: ".firebase/prod/google-services.json"

      ios:
        bundleId: "com.sekiroflutter"
        firebase:
          config: ".firebase/prod/GoogleService-Info.plist"

    publish:
      app:
        name: "Weather"

      android:
        applicationId: "com.sekiroflutter.weather"
        firebase:
          config: ".firebase/prod/google-services.json"

      ios:
        bundleId: "com.sekiroflutter"
        firebase:
          config: ".firebase/prod/GoogleService-Info.plist"
