name: flutter_base
description: A Flutter base project.

publish_to: 'none'
version: 1.0.3+10

environment:
  sdk: ">=2.15.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.17.0

  # networking
  retrofit: any
  logger: any
  json_serializable: ^6.1.3
  json_annotation: ^4.4.0

  # di
  injectable: any
  get_it: any

  # bloc
  flutter_bloc: ^8.0.0

  # local db
  floor: ^1.2.0

  # firebase
  firebase_core: ^1.10.6
  firebase_analytics: ^9.0.4
  firebase_messaging: ^11.2.4
  cloud_firestore: ^3.1.5

  # others
  rxdart: ^0.27.3
  rive: ^0.7.33
  shared_preferences: ^2.0.11
  pull_to_refresh: ^2.0.0
  copy_with_extension: ^2.0.2
  flutter_alice: ^1.0.2
  overlay_support: ^1.2.1
  flutter_local_notifications: ^9.1.5
  sorting_native: ^0.0.1
  walletconnect_dart: ^0.0.11
  walletconnect_secure_storage: ^1.0.0
  flutter_secure_storage: ^5.0.2
  qr_flutter: ^4.0.0
  flutter_inapp_purchase: ^5.3.1
#  in_app_purchase: ^3.0.6
#  sorting_native:
#    git:
#      url: https://github.com/tungtd95/sorting-native.git
#      ref: master

dev_dependencies:
  # test
  flutter_test:
    sdk: flutter
  test: any
  mockito: ^5.0.17
  bloc_test: any

  # generator
  retrofit_generator: any
  build_runner: any
  injectable_generator: any
  floor_generator: ^1.2.0
  copy_with_extension_gen: ^2.0.3
  intl_utils: ^2.6.0
  flutter_flavorizr:
    git:
      url: https://github.com/tungtd95/flutter_flavorizr.git
      ref: v2.2.0

flutter_intl:
  enabled: true
  class_name: Strings
  main_locale: en
  arb_dir: lib/l10n
  output_dir: lib/l10n

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/anim/

flavorizr:
  app:
    android:
      flavorDimensions: "app"
    ios:

  flavors:
    dev:
      app:
        name: "Weather Dev"

      android:
        applicationId: "com.sekiroflutter.weather_dev"
        firebase:
          config: ".firebase/dev/google-services.json"

      ios:
        bundleId: "com.sekiroflutter.dev"
        firebase:
          config: ".firebase/dev/GoogleService-Info.plist"

    prod:
      app:
        name: "Weather"

      android:
        applicationId: "com.sekiroflutter.weather"
        firebase:
          config: ".firebase/prod/google-services.json"

      ios:
        bundleId: "com.sekiroflutter"
        firebase:
          config: ".firebase/prod/GoogleService-Info.plist"

    publish:
      app:
        name: "Weather"

      android:
        applicationId: "com.sekiroflutter.weather"
        firebase:
          config: ".firebase/prod/google-services.json"

      ios:
        bundleId: "com.sekiroflutter"
        firebase:
          config: ".firebase/prod/GoogleService-Info.plist"
