<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189393495583-vuho7i3vbm4ts2fqaq8t1libonmdak50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189393495583-vuho7i3vbm4ts2fqaq8t1libonmdak50</string>
	<key>API_KEY</key>
	<string>AIzaSyBenSKvhROm9RIWsJwPhcCUC3AIxoDAOz0</string>
	<key>GCM_SENDER_ID</key>
	<string>189393495583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sekiroflutter</string>
	<key>PROJECT_ID</key>
	<string>weather-prod-d266e</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-prod-d266e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189393495583:ios:0cf0fef47f6054dba9572a</string>
</dict>
</plist>